
{% load static %}
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/duotone.css"
    integrity="sha384-R3QzTxyukP03CMqKFe0ssp5wUvBPEyy9ZspCB+Y01fEjhMwcXixTyeot+S40+AjZ" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
    crossorigin="anonymous" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/predictionResult.css'%}">
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Hanalei+Fill&family=Patua+One&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Amaranth&family=Hanalei+Fill&family=Patua+One&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Amaranth&family=Courgette&family=Secular+One&display=swap" rel="stylesheet">
</head>

<body>
  <div class="uppernav"></div>
  <nav class="navbar navbar-expand-lg navbar-light mynavbottom">
      <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
        aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
       <a class="navbar-brand" href="#"><img src="{% static 'images/icon.png' %}" width="60px" height="70px"
          class="navbar-brand"></a>

      <div class="collapse navbar-collapse mynavbar" id="navbarTogglerDemo03">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'home' %}">Home<span class="sr-only"></span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Publication</a>
          </li>
        </ul>
      </div>
      </div>
  </nav>
  <section class="result-body align-items-center">
      <h4>Price predictor</h4>
      <p style="text-align: center; color: red ; font-weight: bold">{{ decision }}</p>
      <div class="secondary-result-body text-center">
            <h5><span><br>{{result}}</span></h5>
      </div>
      <p id="price" style="display: none">{{ monthlyPrice }}</p>
      <p id="labels" style="display: none">{{ labels }}</p>
  </section>
  <br>
  <h4 style="text-align: center">Price of full Month</h4>
 <div class="chart-container" style="position: relative; height:35vh; width:70vw; margin: auto;">
      <canvas id="myChart"></canvas>
  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
  </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script>
const labels = document.getElementById('labels');
const newLabel = labels.innerText;
const price = document.getElementById('price');
const newPrice =price.innerText;
let p = newPrice.replace('[','');
 p = p.replace(']','');
 p = p.trim();
 p =p.split(", ");
let newp= p.map(p=>(
    parseFloat(p)
));

let l = newLabel.replace('[','');
 l = l.replace(']','');
 l = l.trim();
 l =l.split(", ");
let newl= l.map(l=>(
    parseInt(l)
));





{#console.log(labels,Array.from(labels.innerText));#}
{#console.log(price);#}
var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: newl,
        datasets: [{
            label: 'Price is ',
            data: newp,
            backgroundColor: [
                'rgba(255, 99, 132, 0.5)',
                'rgba(54, 162, 235, 0.5)',
                'rgba(255, 206, 86, 0.5)',
                'rgba(75, 192, 192, 0.5)',
                'rgba(153, 102, 255, 0.5)',
                'rgba(255, 159, 64, 0.5)',
                'rgba(10, 91, 205, 0.5)',
                'rgba(10, 205, 120, 0.5)',
                'rgba(205, 10, 10, 0.5)',
                'rgba(185, 205, 10, 0.5)',
                'rgba(205, 10, 10, 0.5)',
                'rgba(67, 0, 112, 0.5)',
                'rgba(51, 80, 193, 0.5)',
                'rgba(51, 193, 172, 0.5)',
                'rgba(61, 193, 51, 0.5)',
                'rgba(193, 51, 51, 0.5)',
                'rgba(255, 99, 132, 0.5)',
                'rgba(54, 162, 235, 0.5)',
                'rgba(255, 206, 86, 0.5)',
                'rgba(75, 192, 192, 0.5)',
                'rgba(153, 102, 255, 0.5)',
                'rgba(255, 159, 64, 0.5)',
                'rgba(10, 91, 205, 0.5)',
                'rgba(10, 205, 120, 0.5)',
                'rgba(205, 10, 10, 0.5)',
                'rgba(185, 205, 10, 0.5)',
                'rgba(205, 10, 10, 0.5)',
                'rgba(67, 0, 112, 0.5)',
                'rgba(51, 80, 193, 0.5)',
                'rgba(51, 193, 172, 0.5)',
                'rgba(61, 193, 51, 0.5)',
                'rgba(193, 51, 51, 0.5)',







            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
</script>
</body>
</html>